<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>TimeBox</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>

    <div class="typewriter"><h1>
      TimeBox:  A way to visualize your time
      </h1>
    </div>
    
  <body>
    <div class="row">
  <div class="column">
    <header>
      <h1>What do you need to do today?</h1>
    </header>

    <main>

      <form>
        <label>
 
          <input name="task" type="text" maxlength="100" required placeholder="Type Tasks Here!">
        </label>
        <button type="submit" id="submit-task">Add Task</button>
      </form>

      <section class="tasks">
        <ul id="tasks">
          <em>loading tasks&hellip;</em>
        </ul>
      </section>
  </div>
  <div class="column">
    
  <header>
    <h1>
      Orgainize your thoughts
    </h1>
  </header>
      <table id="myTable">
        <tr>
          <th>Time</th>
          <th>Tasks</th>
          <th>Hour</th>
        </tr>
        <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
        <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
          <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
          <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
          <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
         <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
        
        
        <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
          <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
          <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
          <tr>
          <td>  <input type="time" id="time" name="time"> </td>
          <td>  <input type="text" id="task" name="task"> </td>
          <td>  <input type="text" id="hour" name="hour"> </td>
        </tr>
      </table>
        <br>
    <!--  <button onclick="myCreateFunction()">Create row</button>   -->
    </div>
    </div>
  </main>
      

    <footer>Made by <a href="https://laurenelizabethgayle.weebly.com/">Lauren Gayle</a> for the Steel City Hacks Hackathon using <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
